.page2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--Green);
}

.mobe-detail {
  background-color: var(--Dark-green);
  display: flex;
  gap: 100px;
  border-radius: 15px;
  padding: 50px;
  margin: 50px auto;
}

.about-image {
  aspect-ratio: 4/3;
  height: 200px;
}

.about-image img {
  height: 100%;
}

.about-content h3 {
  color: var(--lightest-green);
  font-family: 'WorkSans', sans-serif;
  font-weight: 500;
}

.about-content h2 {
  font-family: 'NoticiaText', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: var(--White);
}

.about-content p {
  color: var(--White);
  font-family: 'WorkSans', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  width: 60%;
  margin: 20px 0;
}

.save {
  border: 1px var(--White) solid;
  border-radius: 4px;
  font-family: 'WorkSans', sans-serif;
  font-weight: 400;
  outline: none;
  padding: 8px 16px;
  background-color: var(--Dark-green);
  color: var(--White);
}

.beyond {
  margin: 50px 0px;
  padding: 10px 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(6, 90px);
  grid-template-rows: repeat(6, 60px);
  background-color: #2e6b32;
  gap: 15px;
}

.feature-card {
  background-color: var(--lightest-green);
  font-family: 'WorkSans', sans-serif;
  font-weight: 500;
  font-size: x-small;
  color: #0b3d16;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 15px;
}

.feature-card img {
  height: 20px;
  position: absolute;
  left: 20px;
  bottom: 40px;
}

.ad {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.rectangle {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
  border-bottom-left-radius: 0;
}

.square {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.download {
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 111%;
  margin-top: -15px;
}

.dashboard {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -30px;
}

.little-box {
  grid-column: 3;
  grid-row: 5 / span 2;
  width: 90px;
  margin-left: -38px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.choice {
  grid-column: 4;
  grid-row: 5 / span 2;
  width: 130px;
  margin-left: -38px;
}

.eye {
  grid-column: 5 / span 2;
  grid-row: 3 / span 4;
}

@media screen and (max-width: 1400px) {

  .heading {
    font-size: 3.8rem;
    padding: 8px 4px;

  }

  .top-main {
    margin-top: -7px;
    margin-bottom: -30px;
    gap: 20px;
  }

  .top {
    margin-bottom: -30px;
  }

  .middle {
    margin-left: 284px;
  }

  .bottom {
    margin-top: 10px;
  }

  .about-content p {
    width: 100%;
  }

  .image-group img {
    border-radius: 30px;
    height: 320px;
  }

  .beyond {
    margin: 0;
    line-height: 1;
  }
}

@media screen and (max-width:768px) {

  .hero-container,
  nav {
    display: none;
  }

  .mobe-detail:last-child {
    flex-direction: column;
    line-height: 1;
  }

}

@media screen and (max-width: 600px) {
  .container {
    max-width: 425px;
    margin: auto;
  }

  .mobe-detail {
    flex-direction: column;
    margin: 40px auto;
    gap: 40px;
    line-height: 1;
  }

  .grid-items {
    grid-template-columns: repeat(6, 40px);
    grid-template-rows: repeat(6, 30px);
    margin: 10px auto;
    justify-content: flex-start;
  }

  .grid-items div img {
    height: 10px;
    position: absolute;
    left: 10px;
    bottom: 40px;
    aspect-ratio: 1;
  }

  .little-box {
    width: 40px;
  }

  .choice {
    width: 80px;
  }

  .about-content p {
    width: 100%;
  }

  .beyond {
    margin: 0;
    line-height: 1;
  }

}